.searching-input {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 1);
    outline-color: rgba(78, 117, 255, 1);
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.searching-input:hover,
.searching-input:focus {
    border-color: rgba(0, 0, 0, 1);
}

.searching-button {
    width: 75px;
    height: 40px;
    background-color: rgba(78, 117, 255, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.searching-button:hover,
.searching-button:focus {
    background-color: rgba(108, 140, 255, 1);
}

.form {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-bottom: 32px;
    margin-top: 20px;
}

.gallery-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 24px;
    justify-content: center;
}

li {
    width: 360px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 1);
}

img {
    width: 360px;
    height: 150px;
    object-fit: cover;
}

.imageInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4px;
}

.imageEachInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageEachInfo span:first-child {
    color: rgba(46, 47, 66, 1);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.imageEachInfo span:last-child {
    color: rgba(46, 47, 66, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}